* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(237, 231, 235);
    overflow: hidden;
    
}
body {
    background: url(../img/ampoule.jpg) no-repeat center/cover ;
    
}
.wrap {
    /* border: 7px solid pink; */
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: 60%;
}

.moi {
    width: 50%;
    margin: 20px;
    /* border: 1px solid black; */
    border-radius: 15px;
}
.content {
    /* border: 2px solid grey; */
    width: 80%;
    margin: 0 auto 35px;
}
.content strong {
    font-size: 1.5em;
    color: rgb(160, 155, 160);
}

h1 {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(223, 213, 221);
    background-color: rgba(0, 0, 0, 0.541);
}
p {
    text-align: center;
    color: rgb(222, 216, 222);
}
.dte{
    font-size: 16px;
}

.number {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 20px;
    flex-wrap: wrap;
}
.bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    min-width: 150px;
    border-radius: 20px;
    border:1px solid rgb(181, 175, 179);
    text-shadow: 2px 3px 15px rgba(44,22,22,0.6);
    background-color: rgba(11, 11, 11, 0.267);

    margin: 10px 30px;
    text-align: center;
}

/*   -----JS----*/
.bloc strong {
    font-size: 6rem;
    color: rgb(234, 11, 11);

}
.footer {
    position: absolute;
    left: 10px;
    bottom: -10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 50px;
}
h3 {
    font-size: 0.8rem;
    color: rgb(181, 175, 179);

}

@media  screen and (max-width: 700px)  {
   *{
       overflow: visible;
   }
   h1 {
    font-size: 1.2rem;
   }
   .footer {
    position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    h3 {
         color:rgb(234, 11, 11)

     }
}